:root {
  --main-color: #eef5ff;
  --second-color: #7fc7d9;
  --block-color: #aad7d9;
  --border-color: #40a2d8;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--main-color);
}

header,
footer {
  background-color: var(--second-color);
}

.block {
  width: 100%;
  height: 46vh;
  background-color: var(--block-color);
  opacity: 0.7;
}

#input-text {
  width: 60%;
  min-width: 300px;
  height: 40px;
  background-color: #aad7d9bd;
}

#input-submit {
  width: 100px;
  height: 40px;
  background-color: var(--second-color);
  transition: 0.2s;
}

#input-submit:hover {
  background-color: var(--block-color);
  color: var(--border-color) !important;
}

.blue-border {
  border-color: var(--border-color) !important;
}
