<footer class="py-3 fixed-bottom border-top border-2 border-primary-subtle">
  <div class="container">
    <div class="d-flex justify-content-between">
      <p class="my-auto"><strong>Ilya Shelestov</strong>, SE-2207</p>
      <p class="my-auto"><strong>Astana IT University</strong>, 2024</p>
    </div>
  </div>
</footer>
