<header class="border-bottom border-2 border-primary-subtle">
  <div class="container">
    <nav class="navbar navbar-expand">
      <h2>APIs App</h2>
      <div class="navbar-nav ms-auto">
        <a class="nav-link fs-5 me-4" href="/" aria-current="page">Home</a>
        <% if (isLoggedIn) { %>
          <a class="nav-link fs-5 me-4" href="/weather">Weather</a>
          <a class="nav-link fs-5 me-4" href="/cats">Cats</a>
          <% if (isAdmin) { %>
            <a class="nav-link fs-5 me-4" href="/admin">Admin</a>
          <% } %>
          <a class="nav-link fs-5 me-4" href="/profile">Profile</a>
        <% } %>
        <% if (!isLoggedIn) { %>
          <a class="nav-link fs-5 me-4" href="/login">Log In</a>
        <% } %>
      </div>
    </nav>
  </div>
</header>
